@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans",sans-serif;
}
:root{
  --heading: rgb(0 10 45);
  --para: #777777;
  --para-tint: #e4e4e4;
  --white: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --gradientSupport:-webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
  --shadowSupport:0px 20px 20px 0px rgb(132 144 255/30%);
}
html{
    font-size:62.5%;
}
h1,
h2,
h3,
h4{
     font-family: "Poppins",sans-serif;
}
 
h1{
     color: var(--heading);
     font-size: 6rem;
     font-weight:600;
}
 h3{
    font-size: 1.8rem;
    font-weight:400;
 }
 p{
    color:var(--para);
    line-height:1.6;
    font-size:1.7rem;
 }
 a{
    text-decoration:none;
 }
 li{
    list-style:none;
 }

/* Header Section Start*/

.header{
    padding: 0 4.8rem;
    height:10rem;
    background-color: var(--bg);
   
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.header.logo {
    height: 3rem;
}

.navbar-lists{
    display: flex;
    gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--black);
    transition:color 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active{
    color:var(--helper);
}
/* Resuable Code Section*/
.section{
    padding:9rem 0;
}

.container{
    max-width: 140rem;
    margin: 0 auto;
}
.grid{
    display: grid;
    gap: 9rem;
}
.grid-two-column{
    grid-template-columns: repeat(2,1fr);
}

.grid-three-column{
    grid-template-columns: repeat(3,1fr);
}

.grid-four-column{
    grid-template-columns: repeat(4,1fr);
}
.btn{
    background: var(--gradientSupport);
    padding: 1.6rem 3.2rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.btn:hover,
.btn:active{
    box-shadow: var(--shadowSupport);
}

.common-heading{
    font-size:4.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative; 
}

.common-heading::before{
    content: "";
    position: absolute;
    top:110%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--helper);
    border-radius: 50%;
}
.common-heading::after{
    content: "";
    position: absolute;
    top: 118%;
    left: 1.5rem;
    min-width: 20rem;
    border-radius: 50%;
    height: 0.3rem;
    background: var(--helper);
}
  
 
/* hero Section Start*/

.section-hero{
    background-color: var(--bg);  
}

.section-hero-data{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.hero-top-data{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--helper);
}
.hero-heading{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;

}
.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

.section-hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img{
    max-width:80%; 
}
/* hero Section Start*/
.hero-img{
    max-width:80%;
}

/*Bio Section Start*/

.bio-image{
    display: flex;
    justify-content: center;
    align-items: center;

}

.bio-image img{
    width:80%;
     box-shadow: -2rem -2rem 0 0 var(--helper);
     display:inline-block;
}
.bio-data-stats{
    display: flex;
    padding: 6.4rem 0;
    flex-direction: column;
    gap: 3rem;
}

.bio-stats h3{
    margin-bottom: 1rem;
}

.bio-progress-bar{
    width: 90%;
    height: 0.8rem;
    background-color: var(--para-tint);
    border-radius: 10rem;
    box-shadow: var(--shadow);
    position: relative;
}

.bio-progress-bar::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
}

.bio-progress-2::before{
    width:75%
}

.bio-progress-3::before{
    width:75%
}

.bio-progress-4::before{
    width:60%
}

.bio-progress-5::before{
    width:50%
}

.bio-progress-bar span{
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border:none;
    outline:0;
}
.bio-progress-bar span{
left: 63%;
}

.bio-progress-2 span{
    left: 68%;
    }
.bio-progress-3 span{
        left: 68%;
        }
.bio-progress-4 span{
    left: 53%;
}
.bio-progress-5 span{
    left: 42%;
} 

/* To create a caret */
.bio-progress-bar span::after{
 content: "";
 position: absolute;
 width: 0;
 height: 0;
 border: 0.8rem solid var(--helper);
 border-color: transparent;
 border-bottom-color: var(--helper);
 top: -1.6rem;
}  
    
/*Portfolio Section Start*/
.section-portfolio{
    background: var(--bg);
    transition: all 0.7s linear;
}

.section-portfolio p{
    max-width: 60rem;
}

.p-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3.2rem;
    margin-top: 6.4rem;
    margin: 6.4rem 0;
}

.portfolio-images{
    gap:3.2rem;
}

.portfolio-images img{
    width: 100%;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

.img-overlay{
    position: relative;
   overflow: hidden;
}

.img-overlay.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradientSupport);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%); 
    transition: all 0.3s linear;
    border-radius: 7px;
}

.img-overlay:hover > .overlay{
    transform: translateY(0);
    opacity: 0.8;
    cursor: pointer;
}

.img-overlay .common-heading{
    margin: 0;
    color: var(--white);
    text-decoration: none;
}



.p-btn-active{
    transform: translateY(-1rem);
}

.p-image-not-active{
    display: none;
}

/*Work data Section Start*/

.section-work-data{
    background: var(--gradientSupport);
    text-align: center;
    transition: all 0.7s linear;
    color: var(--white);
}

.counter-numbers{
    font-size: 4.8rem;
}  

.section-work-data p{
color: var(--white);
text-transform: capitalize;
}

/*Our Services Section start*/
.section-services{
    transition: all 0.7s linear;
}

.section-services p{
    max-width:60rem;
}

.section-services.grid{
    margin-top: 10rem;
    row-gap:10rem;
}

.service-box{
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 6.4rem 3.4rem;
    transition: all 0.2s linear;
}

.service-box:hover,
.service-box:active{
    transform: translateY(-3rem);
}

.service-icon{
    width: 8rem;
    height: 8rem;
    background-color: var(--icons-bg);
    display: inline-block;
    border-radius: 56% 44% 70% 30%/30% 54% 46% 70%;
    padding: 1.4rem 1.8rem;
    position: relative;
    color: var(--heading);
    animation: water-wave 3s linear infinite;
}
.servie-icon::after{
    content:"";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
    border-radius:  56% 44% 70% 30% /30% 54% 46% 70%;
    background: transparent;
    border: 1px solid var(--black);
    animation: water-wave 3s linear infinite;
}

@keyframes water-wave{
    0% {
        border-radius: 56% 44% 70% 30% /30% 54% 46% 70%;
    }
    50%{
        border-radius: 3% 97% 15% 85%/ 72% 0% 100% 28%;
    }
    100%{
        border-radius: 56% 44% 70% 30% /30% 54% 46% 70%;
    }
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>